<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=0">
    <title>{{tweak_name}}</title>
    <link rel="stylesheet" type="text/css" href="../../web/index.css">
    <style>a, .tint, .table-btn:after {color: {{tint_color}}} .active {color: {{tint_color}};border-bottom: 2px solid {{tint_color}};}</style>
    <script src="../../web/index.js"></script>
    <meta name="description" content="A package by {{tweak_developer}} for {{tweak_compatibility}}.">
    <meta property="og:title" content="{{tweak_name}}">
    <meta property="og:description" content="A package by {{tweak_developer}} for {{tweak_compatibility}}.">
    <meta property="og:image" content="../../assets/{{tweak_bundle_id}}/banner.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{tweak_name}}">
    <meta name="twitter:description" content="A package by {{tweak_developer}} for {{tweak_compatibility}}.">
    <meta name="twitter:image" content="https://{{repo_url}}/assets/{{tweak_bundle_id}}/banner.png">
    <meta name="theme-color" content="{{tint_color}}">
</head>
<body>
    <div class="body">
        <div style="background-image: url(../../assets/{{tweak_bundle_id}}/banner.png)" class="banner_underlay"></div>
        <div class="package package_head">
            <img src="../../assets/{{tweak_bundle_id}}/icon.png">
            <div class="package_info">
                <h1 class="package_name">{{tweak_name}}</h1>
                <p class="package_caption">{{tweak_developer}}</p>
            </div>
        </div>
        <div class="nav">
            <div class="nav_btn active tweak_info_btn" onclick="swap('.changelog','.tweak_info');">Details</div>
            <div class="nav_btn changelog_btn" onclick="swap('.tweak_info','.changelog');">Changelog</div>
        </div>
        <div class="tweak_info">
            <p class="compatibility"><b>Compatibility:</b> This package is compatible with iOS {{tweak_compatibility}}.</p>
            {{{tweak_carousel}}}
            <div class="md_view">
                <p>{{{tweak_description}}}</p>
            </div>
            <h3>Information</h3>
            <div class="table">
                <div class="cell">
                    <div class="title">Developer</div>
                    <div class="text">{{tweak_developer}}</div>
                    <br><br>
                </div>
                <div class="cell">
                    <div class="title">Version</div>
                    <div class="text">{{tweak_version}}</div>
                    <br><br>
                </div>
                <div class="cell">
                    <div class="title">Compatibility</div>
                    <div class="text">{{tweak_compatibility}}</div>
                    <br><br>
                </div>
                <div class="cell">
                    <div class="title">Section</div>
                    <div class="text">{{tweak_section}}</div>
                    <br><br>
                </div>
            </div>
            {{#source}}
            <a href="{{source}}" class="table-btn">
                <div>View Source Code</div>
            </a>
            {{/source}}
        </div>
        <div class="changelog">
            {{{tweak_changelog}}}
        </div>
        <div class="caption center footer">{{footer}}</div>
    </div>
</body>
<script>compatible("{{works_min}}","{{works_max}}","{{tweak_compatibility}}");externalize()</script>
</html>